// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;


/*
lighten(@color, 20%)
darken(@color, 20%)
saturate()
desaturate()
fadein()
fadeout()
fade(@blue, 20%) for transparency
spin(@color, 123)
mix(@blue, @yellow, 50%)
*/

// Base Colors
@white: #fff;
@black: #000;
@charcoal: #333;
@graphite: #ccc;
@silver: #f5f5f5;
@cloud: #e8e8e8;
@chocolate: #534741;
@dirt: #998675;
@dust: #e8e8e2;

// Colors from http://clrs.cc/
@navy: #001F3F;
@blue: #0074D9;
@aqua: #7FDBFF;
@teal: #39CCCC;
@olive: #3D9970;
@green: #2ECC40;
@lime: #01FF70;  // 0FA - wintermint
@yellow: #FFDC00;
@orange: #FF851B;
@red: #FF4136;
@maroon: #85144B;
@fuchsia: #F012BE;
@purple: #B10DC9;
@wintermint: #0FA;
@atermellon: ;

// Font weights for 'Source Code Pro'
@extra-light: 200;
@light: 300;
@normal: 400;
@medium: 500;
@semi-bold: 600;
@bold: 700;
@ultra-bold: 900;
